

ul {
    padding: 0px;
    list-style: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;

}

h1 {
    color: white;
    font-size: 80px;
}

button {
    margin: none;
    padding: 0px;
    text-decoration: none;
}

#botao-pedido a {
    background: #FFB000;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;


}

.header--titulo {
    text-decoration: none;
    display: grid;
    font-family: 'Jim Nightshade', cursive;
    text-align: center;
    margin-top: -400px;

}

.h1-cor {
    color: #FFB000;
    font-size: 120px;
}

.diferencial-home {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.diferencial-home-tipos {
    display: grid;
    justify-items: center;
    margin-top: -100px;
    width: 380px;
    height: 320px;
    flex-shrink: 0;
    gap: -100px;
    background: linear-gradient(0deg, rgba(32, 3, 2, 0.17) -4.82%, #200302 -4.81%, #500806 99.99%, #500806 100%);
    border-style: solid;
    border-width: 2px;
    border-color: #FFB000;
}

.diferencial-home-img {
    margin-top: 10px;
    width: 64px;
    height: 64px;
}

.diferencial-home-h2 {
    color: white
}

.diferencial-home-texto {
    color: #FFB000;
    padding: 10px;
}

.sobrenos {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 400px;
    grid-template-columns: 4fr;
}


.sobrenos-titulo,
.especialidade-h2-titulo,
.galeria-titulo {
    margin-left: 60px;
    margin-right: 40px;
    font-family: Jim Nightshade;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sobrenos-texto {
    color: #000;
    font-size: 24px;
    margin-left: 60px;
}



.botao-ver {
    background: #FFB000;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-top: 20px;
}

.sobrenos-img {
    display: flex;
    max-width: 250px;
    max-height: 250px;
    border-radius: 45px;
    gap: 40px;

}

.faca-pedido-home {
    background-image: url(../assets/pedido-bg.png);
    height: 367px;
    display: grid;
}

.faca-pedido-home-texto-h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.faca-pedido-home-texto {

    display: block;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-left: 60px;
}

.botao-ver-pedido {
    display: inline-block;
    margin-left: 45%;
    background: #FFB000;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;


}

.especialidades-bg {
    background: #f2f2f2;
    height: 657px;
    display: grid;
    
}

.especialidades-titulo {
    font-family: Jim Nightshade;
    font-size: 64px;
    font-weight: 100;


}

.titulo-especialidade-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.especialidades-cardapio {
    display: flex;
    gap: 20px;
    
    

}

.especialidades-cardapio-bg {
    background: #fff;
    border-radius: 25px;
    padding: 15px 15px 30px 15px;
    
}

.especialidades-subtitulo {
    color: #000;
    font-family: Jim Nightshade;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.especialidades-texto {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFB000;
}

.botao-especialidade {
    justify-content: center;
}

.galeria{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.galeria-img{
    display: grid;
    width: 1078px;
    grid-template-columns: repeat(9, 120px);
    grid-template-rows: repeat(2,24vh);
    column-gap: .5em;
    row-gap: .5em;
}

.galeria-img img{
    grid-column: auto / span 3;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
#dois{
    grid-row: span 2;
}

#normal {
    grid-column: span 2;
    height: 220px;
}

#meio{
    grid-column:  span 4;
}

.galeria-link{
    background: #FFB000;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10vh;
    justify-content: center;

}


.galeria-titulo {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.funcionamento-bg {
    background-image: url(../assets/funcionamento-bg.png);
    height: 567px;
    display: flex;
    justify-items: center;
    justify-content: center;
    max-width: 100%;
}

.funcionamento-titulo {
    display: flex;
    align-items: baseline;
    color: #FFF;
    font-family: Jim Nightshade;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.funcionamento-home-texto {
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 15px;

}
.funcionamento {
    display: grid;
    text-align: center;
}

.linhas-titulo-funcionamento{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.funcionamento-align {
    display: grid;
}

.ultimo-p {
    margin-bottom: 100px;
}
